#film-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 95vh;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  padding: 120px 30px;
  position: relative;
}

#film-container::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #050505dd;
  width: 100%;
  height: 100%;
}

#film-container::before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    #050505ff,
    #000505e9,
    transparent,
    transparent,
    transparent
  );
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 85%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  object-fit: cover;
}

.content {
  max-width: 100%;
  display: flex;
  gap: 30px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.poster {
  width: 360px;
  height: 480px;
  border-radius: 5px;
}

.title {
  font-size: 60px;
  transition: all 0.4s;
}

.title:hover {
  opacity: 0.7;
}

.title span {
  opacity: 0.6;
  font-size: 40px;
}

.genres {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}

.genres .freeToPublic {
  color: #fff;
  min-width: 20px;
  min-height: 20px;
  display: grid;
  place-items: center;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid #fff;
}

.adult {
  color: red;
  min-width: fit-content;
  min-height: fit-content;
  display: grid;
  place-items: center;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid red;
  padding: 2px;
}

.date-popu {
  max-width: 60%;
  display: flex;
  justify-content: space-between;
}

.date-popu .popularity {
  display: flex;
  gap: 5px;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.date-popu strong {
  opacity: 0.5;
}

.clas {
  display: flex;
}

.star.active svg {
  fill: #ff0;
}

.vote_count {
  margin-left: 5px;
}

.overview {
  max-width: 60%;
  text-align: justify;
  margin-bottom: 30px;
}

.imdbBtn {
  background-color: #e2b616;
  width: fit-content;
  height: auto;
  font-size: 22px;
  letter-spacing: 4%;
  border: none;
  border-radius: 8px;
  transition: all 0.35s;
}

.imdbBtn {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding: 5px 20px;
}

.imdbBtn:hover {
  background-color: #e2b616df;
}

#companies {
  padding-left: 60px;
}

#companies h2 {
  font-size: 42px;
  margin-bottom: 30px;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(125deg, #fff, #fff, #fff, transparent);
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.companies {
  display: flex;
  gap: 60px;
  overflow: auto;
  padding-bottom: 20px;
}

.companies::-webkit-scrollbar {
  height: 5px;
}

.company {
  background-color: #dfdfdf;
  min-width: 200px;
  min-width: fit-content;
  max-height: 300px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  gap: 10px;
  padding: 20px;
}

.company:last-child {
  margin-right: 60px;
}

.companyNull {
  min-width: 250px;
  padding: 20px;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.company .logo:not(.logoNull) {
  max-height: 120px;
  border-radius: 5px;
  object-fit: cover;
}

.logoNull {
  background-color: #a9a9a949;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}

.logoNull:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 45px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #000000df;
}

.logoNull:before {
  content: "";
  position: absolute;
  top: 60px;
  left: 15px;
  height: 40px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid #000000df;
}

.company .name {
  color: #000;
}

.company .country strong {
  color: #000;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.l {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #020202;
  border-bottom: 4px solid #fff;
  animation: load 1s infinite linear;
}

@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

@media (max-height: 627px) {
  #film-container {
    margin-bottom: 20%;
  }
}
