<app-header></app-header>
<section id="movie" *ngIf="filmsUpcoming; else loading">
  <img src="{{ imgUrl }}{{ randomFilm.backdrop_path }}" />
  <div class="content">
    <p class="company">
      <strong>{{ randomFilm.release_date }}</strong>
    </p>
    <h1 class="movie-title">{{ randomFilm.title }}</h1>
    <div class="popularity">
      <strong>Popularity</strong>
      <strong class="load" [ngStyle]="{ 'margin-left': '15px' }">{{
        randomFilm.popularity
      }}</strong>
    </div>
    <button class="view">View more</button>
  </div>
</section>
<section id="movies" *ngIf="filmsUpcoming; else loading">
  <div class="cards-container upcoming">
    <h2>Upcoming</h2>
    <div class="cards">
      <div class="card" *ngFor="let film of filmsUpcoming">
        <img src="{{ imgUrl }}{{ film.poster_path }}" class="imgCard" />
      </div>
    </div>
  </div>
  <div class="cards-container now-playing">
    <h2>Now Playing</h2>
    <div class="cards">
      <div class="card" *ngFor="let film of filmsNowPlaying">
        <img src="{{ imgUrl }}{{ film.poster_path }}" class="imgCard" />
      </div>
    </div>
  </div>
  <div class="cards-container populars">
    <h2>Top Rated</h2>
    <div class="cards">
      <div class="card" *ngFor="let film of filmsTopRated">
        <img src="{{ imgUrl }}{{ film.poster_path }}" class="imgCard" />
      </div>
    </div>
  </div>
  <div class="cards-container populars">
    <h2>Populars</h2>
    <div class="cards">
      <div class="card" *ngFor="let film of filmsPopulars">
        <img src="{{ imgUrl }}{{ film.poster_path }}" class="imgCard" />
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <div class="loading"><span class="loader"></span></div>
</ng-template>
